// Custom Theme Variables for CMS (Studio)

$primary: #e42323;
$primary-light: #a5bd2c;

$font-family-title: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');


@import 'edx-bootstrap/sass/open-edx/theme';
