// Custom Theme Variables for LMS

$primary: #e42323;
$primary-light: #d4ff00;

$font-family-title: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');
@import 'edx-bootstrap/sass/open-edx/theme';
